.blur {
    -webkit-filter: brightness(50%) blur(2.5px);
    -moz-filter: brightness(50%) blur(5px);
}

.mCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    margin: auto;
}

input.sexy-box {
    border: none;
    background-color: rgba(255, 250, 250, 0.2);
    color: #B7C11E;
    text-align: center;
    border-radius: 3px;
}

div.centery {
    box-sizing: border-box;
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    text-align: center;
    align-content: center;
}

.top-right {
    position: absolute;
    top: 15%;
    right: 5%;
}

.top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.bottom {
    position: fixed;
    top: 50%;
    right: 0;
    left: 0;
}

img.header {
    margin: 5px;
    min-width: 45px;
}

div.signInBox {
    border: 5px solid #23A38F;
    border-top-width: 55px;
    position: relative;
    margin-top: 20%;
    width: 45%;
    min-width: 300px;
}

.gameBox {
    position: absolute;
    margin-top: 35%;
    min-width: 300px;
}

form.initiateGame input {
    width: 60%;
    margin: 8% auto;
    text-align: center;
}
h1 {
    margin-bottom: 5%;
    font-size: 10vw;
}
ul {
    list-style-type: none;
}
li {
    border: 2px solid #23A38F;
    border-left-width: 30px;
    margin-left: -40px;
}

#footer {
    padding-right: 15px;
    padding-left: 15px;
    width:100%;
    height:3%;
    position:absolute;
    bottom:0;
    left:0;
}
